.nav {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.nav__lg-links {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex: 1 0 auto;
}

.nav__lg-container {
  display: flex;
  flex: 1 0 auto;
  margin: 0 5rem;
}

.nav__sm-container {
  display: none;
}

#navLoginLink {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  align-items: flex-end;
  flex: 1 0 auto;
  margin: 0 5rem 0 0;
}

#navLoginLink:hover {
  opacity: 1;
  cursor: default;
}

#homeLink {
  padding: 0;
  flex: 1 0 auto;
  margin: 0 0 0 5rem;
}

#homeLink:hover {
  opacity: 1;
  cursor: default;
}

#homeLogo {
  width: 4.5rem;
  max-width: 100%;
  height: auto;
}

#homeLogo:hover {
  cursor: pointer;
}

.nav__link {
  cursor: pointer;
  padding: 1rem;
  align-self: center;
}

.nav__link a {
  text-decoration: none;
  color: #12263f;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link-btn-container {
  border-radius: 4rem;
  overflow: hidden;
  display: flex;
}

.nav__link-btn-container a {
  padding: 1rem 2rem;
  background: #12263f;
  color: #fff;
}

.nav__link-btn-container a:hover {
  opacity: 0.6;
}

.nav__link-inner-text {
  margin: 0 0.25rem;
}

.nav__link-icon {
  margin: 0 0.25rem;
  width: 2rem;
  height: auto;
}

@media (max-width: 950px) {
  .nav__lg-container {
    display: none;
  }

  .nav__sm-container {
    display: flex;
    margin: 0 2rem;
  }

  .nav__sm-links {
    display: none;
  }

  .nav__sm-links.active {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  .nav-sm-menu-icon {
    width: 2.5rem;
    height: auto;
    opacity: 0;
    transition: all 0.3s ease;
    grid-column: 1;
    grid-row: 1;
    position: relative;
  }

  .nav-sm-menu-icon.active {
    transition: all 0.3s ease;
    opacity: 1;
    position: relative;
  }

  .nav-sm-menu-icon:hover {
    cursor: pointer;
  }
}
