.nav {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.nav__lg-links {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex: 1 0 auto;
}

.nav__lg-container {
  display: flex;
  flex: 1 0 auto;
  margin: 0 5rem;
}

.nav__sm-container {
  display: none;
}

#navLoginLink {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  align-items: flex-end;
  flex: 1 0 auto;
  margin: 0 5rem 0 0;
}

#navLoginLink:hover {
  opacity: 1;
  cursor: default;
}

#homeLink {
  padding: 0;
  flex: 1 0 auto;
  margin: 0 0 0 5rem;
}

#homeLink:hover {
  opacity: 1;
  cursor: default;
}

#homeLogo {
  width: 4.5rem;
  max-width: 100%;
  height: auto;
}

#homeLogo:hover {
  cursor: pointer;
}

.nav__link {
  cursor: pointer;
  padding: 1rem;
  align-self: center;
}

.nav__link a {
  text-decoration: none;
  color: #12263f;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link-btn-container {
  border-radius: 4rem;
  overflow: hidden;
  display: flex;
}

.nav__link-btn-container a {
  padding: 1rem 2rem;
  background: #12263f;
  color: #fff;
}

.nav__link-btn-container a:hover {
  opacity: 0.6;
}

.nav__link-inner-text {
  margin: 0 0.25rem;
}

.nav__link-icon {
  margin: 0 0.25rem;
  width: 2rem;
  height: auto;
}

.nav__sm-drawer {
  background: #fff;
  height: 100%;
  left: 0;
  max-width: 320px;
  position: fixed;
  transition: transform 0.15s ease-out, opacity 0.25s;
  width: calc(100% - 55px);
  top: 0;
  transform: translateX(-100%);
  z-index: 3;
}

.nav__sm-drawer-backdrop {
  display: none;
  opacity: 0;
}

@media (max-width: 950px) {
  .nav__lg-container {
    display: none;
  }

  .nav__sm-container {
    display: flex;
    margin: 0 2rem;
    cursor: pointer;
  }

  .nav__sm-drawer.active {
    background: #fff;
    height: 100%;
    left: 0;
    max-width: 320px;
    position: fixed;
    transition: transform 0.15s ease-out, opacity 0.25s;
    width: calc(100% - 55px);
    top: 0;
    transform: translateX(0%);
    z-index: 3;
  }

  .nav__sm-drawer-backdrop.active {
    opacity: 1 !important;
    pointer-events: all !important;
    background: rgba(0, 0, 0, 0.4);
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    z-index: 2;
  }

  .nav__sm-links {
    display: none;
  }

  .nav__sm-links.active {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  .nav__sm-link {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
  }

  .nav__sm-link a {
    text-decoration: none;
    color: #12263f;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
  }

  .nav__sm-menu-icon {
    opacity: 0;
    display: none;
  }

  .nav__sm-menu-icon.active {
    transition: all 0.3s ease;
    width: 2.5rem;
    height: auto;
    opacity: 1;
    position: relative;
    display: flex;
  }

  .nav-sm-menu-icon:hover {
    cursor: pointer;
  }
}
