@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $m-size;
  margin: 0;
  background-color: #f9fbfd;
  color: #12263f;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  background-color: #9563b3;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border: 1px solid #edf2f9;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input[type="text"] {
  border: 0.0625rem solid #e7eaf3;
  border-radius: 0.4rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

// modal overlay
.ReactModal__Overlay {
  background-color: rgba(19, 33, 68, 0.25) !important;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}
